<div style="text-align: center">
  <h1>Welcome To {{ title }}</h1>
  <h2>Your Name Is {{ myName }} ?</h2>
  <p>TEST: {{ this.showNameAndType() }}</p>
  <label>Enter Password : </label>
  <input
    [type]="type"
    placeholder="Enter Password"
    name="password"
    id="password"
    (input)="onPassUpdate($event)"
  /><br />
  <br />
  <label>Enter your age:</label>
  <input type="number" name="age" id="id_age" [(ngModel)]="myAge" />
  <h3 appGreen>Your age is {{ myAge }}</h3>
  <label for="colors">Choose a color : </label>
  <select name="colors" id="colors" [(ngModel)]="myColor">
    <option value="red">red</option>
    <option value="blue">blue</option>
    <option value="purple">purple</option>
    <option value="pink">pink</option>
    <option value="green">green</option>
  </select>
  <h1 style="color: {{ myColor }}">Your color is : {{ myColor }}</h1>
  <!-- IF -->
  <h2 *ngIf="showInfo">Welcome To {{ title2 }}</h2>
  <!--If ELSE -->
  <h2 *ngIf="showInfo; else hideInfo">show info is work</h2>
  <ng-template #hideInfo>not work</ng-template><br />
  <button class="btn btn-info" (click)="onBtnClick()">hide/show</button>
</div>
