<div style="text-align: center">
  <h1>Welcome To {{ title }}</h1>
  <h2>Your Name Is {{ myName }} ?</h2>
  <p>TEST: {{ this.showNameAndType() }}</p>
  <label>Enter Password : </label>
  <!-- event -->
  <input
    [type]="type"
    placeholder="Enter Password"
    name="password"
    id="password"
    (input)="onPassUpdate($event)"
  /><br />
  <br />
  <label>Enter your age:</label>
  <input type="number" name="age" id="id_age" [(ngModel)]="myAge" />
  <h3 appGreen>Your age is {{ myAge }}</h3>
  <!-- ngModel -->
  <label for="colors">Choose a color : </label>
  <select name="colors" id="colors" [(ngModel)]="myColor">
    <option value="red">red</option>
    <option value="blue">blue</option>
    <option value="purple">purple</option>
    <option value="pink">pink</option>
    <option value="green">green</option>
  </select>
  <h1 style="color: {{ myColor }}">Your color is : {{ myColor }}</h1>
  <!-- ngIf -->
  <h2 *ngIf="showInfo">Welcome To {{ title2 }}</h2>
  <!--If ELSE -->
  <h2 *ngIf="showInfo; else hideInfo">show info is work</h2>
  <ng-template #hideInfo>not work</ng-template><br />
  <button class="btn btn-info" (click)="onBtnClick()">hide/show</button>
  <!-- ngStyle -->
  <h1 [ngStyle]="{ color: getShowInfoColor() }">Welcome to {{ title }}!</h1>
  <!-- ngClass -->
  <h3 [ngClass]="{ red_box: true }">ng class test 1</h3>
  <h3 [ngClass]="{ green_box: showInfo }">ng class test 2</h3>
  <button class="btn btn-info" (click)="onClick()">Next</button>
  <h3 [ngClass]="getClass()">ng class test 3</h3>
  <!-- ngFor -->
  <ul>
    <li *ngFor="let item of fruits_ar" style="text-align: left">
      {{ item }}
    </li>
  </ul>
  <!-- ngFor and ngClass with if -->
  <span
    *ngFor="let item of fruits_ar2; let i = index"
    [ngClass]="{ yellow_box: i % 2 !== 0 }"
  >
    {{ item }}
  </span>
  <!-- ngSwitch -->
  <br />
  <br />
  <ul>
    <li *ngFor="let item of fruits_ar; let i = index" [ngSwitch]="item">
      <span *ngSwitchCase="'apple'" [ngStyle]="{ color: 'red' }">
        {{ i }} - {{ item }}
      </span>
      <span *ngSwitchCase="'kiwi'" [ngStyle]="{ color: 'blue' }">
        {{ i }} - {{ item }}
      </span>
      <span *ngSwitchDefault> {{ i }} - {{ item }} </span>
    </li>
  </ul>
  <!-- BINDING CUSTOM PROP -->
  <h2>Welcome to {{ title3 }}!</h2>
  <h3>Enter your product to the list:</h3>
  <input type="text" [(ngModel)]="fruit_input" />
  <button (click)="addProduct()">add product</button>
  <h2>List of product you added</h2>
  <div *ngFor="let item of listFruits_ar">
    {{ item }}
  </div>
</div>
